<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login page{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form small-center">
                <h2>Login</h2>
                <div class="jumbotron">
                    {% for error in form.non_field_errors %}
                        <div class="form-group small text-danger has-errors">{{ error }}</div>
                    {% endfor %}
                    {% for field in form %}
                        {% if field.errors %}
                            <div class="form-group has-errors text-danger small">{{ field.errors }}</div>
                        {% endif %}
                        <div class="form-group required">
                            {{ field.label_tag }}{{ field }}
                        </div>
                    {% endfor %}
                    <div class="form-group small">
                        <input class="btn btn-primary" type="submit" value="Log in">
                        <a href="{% url 'sign_up' %}" type="button" class="btn btn-primary pull-right">Sign up</a>
                    </div>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
{% endblock %}