body {
    font-family: "Lato", sans-serif;
}

.sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.content {
    padding-top: 50px;
}

.sidenav {
    position: fixed;
    width: 200px;
    height: 90%;
    max-height: 90%;
    z-index: 1;
    background-color: lightgray;
    overflow-x: scroll;
    padding-top: 20px;
    border-radius: 0 15px 0 0;
}

.row {
    margin-bottom: 5px;
    margin-top: 5px;
}

.scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    width: 60%;
    height: 70%;
    display: block;
}

.fixed-bottom {
    position: fixed;
    left: 20%;
    bottom: 10px;
    width: 60%;
    text-align: center;
}

p {
    margin: 15px 15px 15px 40px;
}

a {
    min-width: 100px;
}


/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    color: black;
    display: block;
    border: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
    outline: none;
}



/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

.active {
    background-color: darkgray;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: white;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.form-group.required label:before {
    color: red;
    content: "*";
    position: absolute;
    margin-left: -15px;
}

.small-center {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.form {
    margin-left: auto;
    margin-right: auto;
}

.form label {
    margin: 10px;
}

.padded {
    margin: 10px;
}