{% extends 'base_nav.html' %}

{% block title %}{{ name }}{% endblock %}

{% block content %}
    <div class="content container">
        <form method="post">
            {% csrf_token %}
            <div class="form">
                <h2>{{ name }}</h2>
                <div class="jumbotron">
                    {% for error in form.non_field_errors %}
                        <div class="form-group small text-danger has-errors">{{ error }}</div>
                    {% endfor %}
                    {% for field in form %}
                        {% if field.errors %}
                            <div class="form-group has-errors text-danger small">{{ field.errors }}</div>
                        {% endif %}
                        <div class="form-group required">
                            {{ field.label_tag }}{{ field }}
                        </div>
                    {% endfor %}
                    <div class="form-group small">
                        <input class="btn btn-primary" type="submit" value="{{ submit_name }}">
                        <input class="btn btn-danger pull-right" type="reset" onclick="return_back()" value="Cancel">
                    </div>

                </div>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
{% endblock %}