{% extends 'home_pages/home.html' %}

{% block title %}Author home{% endblock %}

{% block sidenav %}
    <div class="sidenav">
        <button class="dropdown-btn">Players
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            {% for player in players %}
                <a href="{{ player.get_absolute_url }}">{{ player }}</a>
            {% endfor %}
            <a class="btn btn-success" role="button" href="{% url 'new_player' %}">Create new player</a>
        </div>

        {% if players %}
            <button class="dropdown-btn">Characters
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                {% for character in characters %}
                    <a href="{{ character.get_absolute_url }}">{{ character }}</a>
                {% endfor %}
                <a class="btn btn-success" role="button" href="{% url 'new_character' %}">Create new character</a>
            </div>

            <button class="dropdown-btn">Adventures
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                {% for adventure in adventures %}
                    <a href="{{ adventure.get_absolute_url }}">{{ adventure }}</a>
                {% endfor %}
                <a class="btn btn-success" role="button" href="{% url 'new_adventure' %}">Create new adventure</a>
            </div>

            <button class="dropdown-btn">Campaigns
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                {% for campaign in campaigns %}
                    <a href="{{ campaign.get_absolute_url }}">{{ campaign }}</a>
                {% endfor %}
                <a class="btn btn-success" role="button" href="{% url 'new_campaign' %}">Create new campaign</a>
            </div>

            <button class="dropdown-btn">Maps
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                {% for map in maps %}
                    <a href="{{ map.get_absolute_url }}">{{ map }}</a>
                {% endfor %}
                <a class="btn btn-success" role="button" href="{% url 'new_map' %}">Create map</a>
            </div>

            <button class="dropdown-btn">Enemies
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                {% for enemy in enemies %}
                    <a href="{{ enemy.get_absolute_url }}">{{ enemy }}</a>
                {% endfor %}
                <a class="btn btn-success" role="button" href="{% url 'new_enemy' %}">Create enemy</a>
            </div>

            <button class="dropdown-btn">Items
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                {% for item in items %}
                    <a href="{{ item.get_absolute_url }}">{{ item }}</a>
                {% endfor %}
                <a class="btn btn-success" role="button" href="{% url 'new_inventory' %}">Create item</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block main_view %}
    <div class="container-fluid">
        {% if not enemies %}
            <div class="row">
                <div class="col col-sm-6">
                    <p>You have not yet created any enemy.</p>
                </div>
                <div class="col col-sm-1">
                    <a href="{% url 'new_enemy' %}" class="btn btn-success" role="button">Create enemy</a>
                </div>
            </div>
        {% else %}

        {% endif %}

        {% if not maps %}
            <div class="row">
                <div class="col col-sm-6">
                    <p>You have not yet created any map.</p>
                </div>
                <div class="col col-sm-1">
                    <a href="{% url 'new_map' %}" class="btn btn-success" role="button">Create map</a>
                </div>
            </div>
        {% else %}

        {% endif %}

        {% if not adventures %}
            <div class="row">
                <div class="col col-sm-6">
                    <p>You have not yet created any adventure.</p>
                </div>
                <div class="col col-sm-1">
                    <a href="{% url 'new_adventure' %}" class="btn btn-success" role="button">Create adventure</a>
                </div>
            </div>
        {% else %}

        {% endif %}

        {% if not campaigns %}
            <div class="row">
                <div class="col col-sm-6">
                    <p>You have not yet created any campaign.</p>
                </div>
                <div class="col col-sm-1">
                    <a href="{% url 'new_campaign' %}" class="btn btn-success" role="button">Create campaign</a>
                </div>
            </div>
        {% else %}

        {% endif %}

    </div>
{% endblock %}