{% extends 'home_pages/home.html' %}

{% block title %}Player home{% endblock %}

{% block main_view %}
    <div class="container-fluid">
        {% if players %}
            {% if participated_sessions %}
                <div class="jumbotron row">
                    <p>Participated:</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Session title</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                    {% for part in participated_sessions %}
                        <tr>
                            <td>
                                <a href="{{ part.get_absolute_url }}">{{ part }}</a>
                            </td>
                            <td>
                                <a href="{{ part.get_participator_url }}" class="btn btn-success" role="button">Show</a>
                            </td>
                        </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if invited_sessions %}
                <div class="jumbotron row">
                    <p>Invitations:</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Session title</th>
                            <th>Player nickname</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                {% for invitation in invited_sessions %}
                    <tr>
                        <td><a href="{{ invitation.session.get_absolute_url }}">{{ invitation.session }}</a></td>
                        <td><a href="{{ invitation.player.get_absolute_url }}">{{ invitation.player }}</a></td>
                        <td><a href="{% url 'take_session_part' invitation.session_id invitation.player_id %}"
                               class="btn btn-success"
                               role="button">Join</a></td>
                    </tr>
                {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                {% if not participated_sessions %}
                    <h3>You are not invited in any session yet</h3>
                {% endif %}
            {% endif %}
        {% else %}
            <h3>You have not created any player yet. Switch role to author to create one?</h3>
            <a href="{% url 'role_author' %}" class="btn btn-success" role="button">Change role</a>
        {% endif %}
    </div>
{% endblock %}