{% extends 'home_pages/home.html' %}

{% block title %}Player home{% endblock %}

{% block sidenav %}
    <div class="sidenav">
        {% if has_player %}
            <button class="dropdown-btn">Joined sessions
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                {% for session in sessions %}
                    <a href="{{ session.get_absolute_url }}">{{ session }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}


{% block main_view %}
    <div class="container-fluid">
        {% if players %}
            {% if participated_sessions %}
                <div class="row">
                    {% for part in participated_sessions %}
                        <div class="col col-sm-6">
                            <a href="{{ part.get_absolute_url }}">{{ part }}</a>
                        </div>
                        <div class="col col-sm-2">
                            <a href="{{ part.get_participator_url }}" class="btn btn-success" role="button">Show</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if invited_sessions %}
                <h5>Invitations:</h5>
                {% for invitation in invited_sessions %}
                    <div class="row">
                        <div class="col col-sm-4">
                            <a href="{{ invitation.session.get_absolute_url }}">{{ invitation.session }}</a>
                        </div>
                        <div class="col col-sm-2">
                            <a href="{% url 'take_session_part' invitation.session.id invitation.player.id %}"
                               class="btn btn-success"
                               role="button">Join</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% if not participated_sessions %}
                    <h3>You are not invited in any session yet</h3>
                {% endif %}
            {% endif %}
        {% else %}
            <h3>You have not created any player yet. Switch role to author to create one?</h3>
            <a href="{% url 'role_author' %}" class="btn btn-success" role="button">Change role</a>
        {% endif %}
    </div>
{% endblock %}