{% extends 'home_pages/home.html' %}

{% block title %}Session leader home{% endblock %}

{% block main_view %}
    <div class="container-fluid">
        {% if not has_player %}
            <p>You have no free players. Switch role to author to create one?</p>
            <a href="{% url 'role_author' %}" class="btn btn-success" role="button">Change role</a>

        {% elif not campaigns %}
            <p>There is no campaign created yet. Switch role to author to create one?</p>
            <a href="{% url 'role_author' %}" class="btn btn-success" role="button">Change role</a>
        {% else %}

        {% endif %}
        {% if leaded_sessions %}
            <h5>Leaded sessions:</h5>
        {% endif %}
        {% for sess in leaded_sessions %}
            <a href="{{ sess.get_absolute_url }}">{{ sess }}</a>
        {% endfor %}
        {% if has_player and campaigns %}
            <a href="{% url 'new_session' %}">Start new session</a>
        {% endif %}
    </div>
{% endblock %}

