{% extends 'home_pages/home.html' %}

{% block title %}Session leader home{% endblock %}

{% block main_view %}
    <div class="container-fluid">
        {% if not has_player %}
            <div class="jumbotron">
                <div class="row">
                    <div class="col col-sm-6">
                        <p>You have no free players. Switch role to author to create one?</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-2">
                        <a href="{% url 'role_author' %}" class="btn btn-success" role="button">Change role</a>
                    </div>
                </div>
            </div>
        {% elif not campaigns %}
            <div class="row jumbotron">
                <div class="col col-sm-6">
                    <p>There is no campaign created yet. Switch role to author to create one?</p>
                </div>
                <div class="col col-sm-2">
                    <a href="{% url 'role_author' %}" class="btn btn-success" role="button">Change role</a>
                </div>
            </div>
        {% endif %}

        {% if leaded_sessions %}
            <div class="jumbotron">
            <div class="row">
                <div class="col">
                    <p>Leaded sessions:</p>
                </div>
            </div>
        {% endif %}
        {% for sess in leaded_sessions %}
            <div class="row">
                <div class="col col-sm-3">
                    <div>{{ sess }}</div>
                </div>
                <div class="col col-sm-2">
                    <a href="{{ sess.get_absolute_url }}" role="button" class="btn btn-primary">Details</a>
                </div>
                <div class="col col-sm-2">
                    <a href="{{ sess.get_participator_url }}" role="button" class="btn btn-success">Open</a>
                </div>
            </div>
        {% endfor %}
        {% if leaded_sessions %}
            </div>
        {% endif %}
    </div>
        {% if has_player and campaigns %}
            <div class="row">
                <div class="col">
                    <p><a href="{% url 'new_session' %}">Start new session</a></p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

