<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Authentication{% endblock %}</title>


    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- My css -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'DnD_db/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% if title %}
        <title>DnD IS - {{ title }}</title>
    {% else %}
        <title>DnD IS</title>
    {% endif %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="jquery-3.3.1.min.js"></script>

    <script>
        function selectIngredient(select) {
            var $ul = $(select).prev('ul');

            if ($ul.find('input[value=' + $(select).val() + ']').length == 0)
                $ul.append('<li onclick="$(this).remove();">' +
                    '<input type="hidden" name="ingredients[]" value="' +
                    $(select).val() + '" /> ' +
                    $(select).find('option[selected]').text() + '</li>');
        }
    </script>

    <script>
        function return_back() {
            history.back();
        }
    </script>
</head>
<body>
    <main>
        {% block navigation %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </main>
    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>
</body>
</html>