<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Authentication{% endblock %}</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    {% load static %}
    <!-- Bootstrap css -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'static/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' %}"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'static/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>

    <!-- My css -->
    <link rel="stylesheet" type="text/css" href="{% static 'static/DnD_db/styles.css' %}">

    {% if title %}
        <title>DnD IS - {{ title }}</title>
    {% else %}
        <title>DnD IS</title>
    {% endif %}


    <script src="{% static 'static/bootstrap-3.3.7-dist/jquery/ajax_libs_jquery_3.3.1_jquery.js' %}"></script>
    <script src="{% static 'static/bootstrap-3.3.7-dist/js/js_bootstrap.js' %}"></script>

    <script>
        function return_back() {
            history.back();
        }
    </script>
</head>
<body>
<main>
    {% block navigation %}
    {% endblock %}
    {% block content %}
    {% endblock %}
</main>
<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        snakes
        petri
        simulation
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>
</body>
</html>
