{% extends 'base_nav.html' %}

{% block title %}{{ obj_details }} - {{ operation }}{% endblock %}

{% block content %}
    <div class="content">
    <form method='POST'>
        {% csrf_token %}
        <div class="container">
            <p>Do you want to accept {{ operation }} for {{ obj_details }}?</p>
            <p>
                <input type="submit" value="{{ operation }}" class="btn btn-danger">
                <input class="btn btn-primary pull-right" type="reset" onclick="return_back()" value="Back">
            </p>
        </div>
    </form>
    </div>
{% endblock %}
