{% extends 'base_nav.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
        <p>You are not authenticated.</p>
    {% else %}
        <div class="container-fluid">
        <div class="row">
            <div class="sidenav">
                <button class="dropdown-btn">Players
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a href="{% url 'new_player' %}">Create new player</a>
                </div>

                {% if has_player %}
                    <button class="dropdown-btn">Characters
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        {% for character in characters %}
                            <a href="{{ character.get_absolute_url }}">{{ character }}</a>
                        {% endfor %}
                        <a href="{% url 'new_character' %}">Create new character</a>
                    </div>
                    <button class="dropdown-btn">Sessions
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        {% for session in sessions %}
                            <a href="{{ session.get_absolute_url }}">{{ session }}</a>
                        {% endfor %}
                        <a href="{% url 'new_session' %}">Start new session</a>
                    </div>
                    <button class="dropdown-btn">Maps
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        {% for map in maps %}
                            <a href="{{ map.get_absolute_url }}">{{ map }}</a>
                        {% endfor %}
                        <a href="{% url 'new_map' %}">Create map</a>
                    </div>

                    <button class="dropdown-btn">Enemies
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        {% for enemy in enemies %}
                            <a href="{{ enemy.get_absolute_url }}">{{ enemy }}</a>
                        {% endfor %}
                        <a href="{% url 'new_enemy' %}">Create enemy</a>
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="container-fluid">
                    <ul class="nav nav-pills">
                        <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <h3>Sessions</h3>
                            {% for session in active_sessions %}
                                <p><a href="{">Session</a></p>
                                <p>Creation date: {{ session.creation_date }}</p>
                                <p></p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                </div>
            <div class="col-sm-2">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger" role="alert">
                            {% else %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                            {% endif %}
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}