{% extends 'base_nav.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
        <p>You are not authenticated.</p>
    {% else %}
        <div class="container-fluid">
        <div class="row">
            <div class="sidenav">
                <button class="dropdown-btn">Players
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a href="{% url 'new_player' %}">Create new player</a>
                </div>

                {% if has_player %}
                    <button class="dropdown-btn">Characters
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        {% for character in characters %}
                            <a href="{{ character.get_absolute_url }}">{{ character }}</a>
                        {% endfor %}
                        <a href="{% url 'new_character' %}">Create new character</a>
                    </div>
                    <button class="dropdown-btn">Sessions
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        {% for session in sessions %}
                            <a href="{{ session.get_absolute_url }}">{{ session }}</a>
                        {% endfor %}
                        <a href="{% url 'new_session' %}">Start new session</a>
                    </div>

                    <button class="dropdown-btn">Adventures
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        {% for adventure in adventures %}
                            <a href="{{ adventure.get_absolute_url }}">{{ adventure }}</a>
                        {% endfor %}
                        <a href="{% url 'new_adventure' %}">Create new adventure</a>
                    </div>

                    <button class="dropdown-btn">Campaigns
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        {% for campaign in campaigns %}
                            <a href="{{ campaign.get_absolute_url }}">{{ campaign }}</a>
                        {% endfor %}
                        <a href="{% url 'new_campaign' %}">Create new campaign</a>
                    </div>

                    <button class="dropdown-btn">Maps
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        {% for map in maps %}
                            <a href="{{ map.get_absolute_url }}">{{ map }}</a>
                        {% endfor %}
                        <a href="{% url 'new_map' %}">Create map</a>
                    </div>

                    <button class="dropdown-btn">Enemies
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        {% for enemy in enemies %}
                            <a href="{{ enemy.get_absolute_url }}">{{ enemy }}</a>
                        {% endfor %}
                        <a href="{% url 'new_enemy' %}">Create enemy</a>
                    </div>

                    <button class="dropdown-btn">Items
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        {% for item in items %}
                            <a href="{{ item.get_absolute_url }}">{{ item }}</a>
                        {% endfor %}
                        <a href="{% url 'new_inventory' %}">Create item</a>
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="container-fluid">
                    <ul class="nav nav-pills">
                        <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <h3>Sessions</h3>
                            {% for session in sessions %}
                                <p><a href="{{ session.get_absolute_url }}">Session</a></p>
                                <p>Creation date: {{ session.creation_date }}</p>
                                <p></p>
                            {% endfor %}
                            <label>
                                <ul>
                                    <li onclick="this.parentNode.removeChild(this);">
                                        <input type="hidden" name="ingredients[]" value="Cheese"/>
                                        Cheese
                                    </li>
                                    <li onclick="this.parentNode.removeChild(this);">
                                        <input type="hidden" name="ingredients[]" value="Ham"/>
                                        Ham
                                    </li>
                                    <li onclick="this.parentNode.removeChild(this);">
                                        <input type="hidden" name="ingredients[]" value="Mushrooms"/>
                                        Mushrooms
                                    </li>
                                </ul>
                                <select onchange="selectIngredient(this);">
                                    <option value="Cheese">Cheese</option>
                                    <option value="Olives">Olives</option>
                                    <option value="Pepperoni">Pepperoni</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                </div>
            <div class="col-sm-2">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger" role="alert">
                            {% else %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                            {% endif %}
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}