{% extends 'home_pages/home.html' %}

{% block title %}Game view{% endblock %}

{% block main_view %}
    <div class="container-fluid">
        <div class="scrollable">
            {% for m in participator_chat %}
                <div class="row"><span class="border"><div class="col-sm">
                    {% if m.author.author == viewer %}
                        <blockquote class="blockquote text-right">
                    {% else %}
                        <blockquote class="blockquote text-left">
                    {% endif %}
                    {% if m.type == "Comment" %}
                        <p class="text-muted">
                    {% elif m.type == "Task" %}
                        <p class="text-primary">
                    {% elif m.type == "Action" %}
                        <p class="text-success">
                    {% else %}
                        <p>
                    {% endif %}
                    {{ m.text }}
                    </p>
                        <footer>{{ m.date_posted }} - <cite
                                title="Source Title">{{ m.author }}</cite></footer>
                    </blockquote>
                </div></span></div>
            {% endfor %}
        </div>
        <div class="fixed-bottom">
        <form method="post">
            {% csrf_token %}
            <div class="form">
                <h2>{{ name }}</h2>
                {% for error in form.non_field_errors %}
                    <div class="form-group small text-danger has-errors">{{ error }}</div>
                {% endfor %}
                <div class="row">
                    <div class="col col-md-6">
                        <div class="form-group required">{{ form.text }}</div>
                    </div>
                    <div class="col col-md-2">
                        <div class="form-group required">{{ form.type }}</div>
                    </div>
                    <div class="col-md-4">
                        <input class="btn btn-success" type="submit" value="Write">
                        <input class="btn btn-danger " type="reset" value="Clean">
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
{% endblock %}

{% block right_view %}
    <div class="row">
        <h5>Leader</h5>
        <a href="{{ session_leader.character.get_absolute_url }}">{{ session_leader.character }}</a>
    </div>
    <table class="row table table-striped">
        <thead>
        <tr>
            <th>Players</th>
        </tr>
        </thead>
        <tbody>
        {% for p in players %}
            <tr>
                <td><a href="{{ p.character.get_absolute_url }}">{{ p.character }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}