{% extends 'base_nav.html' %}

{% block content %}
    <h3>Enemy details</h3>
    <p>Name: {{ obj_details.name }}</p>
    <p>Type: {{ obj_details.type }}</p>
    <p>Author: {{ obj_details.author }}</p>

    <input class="btn btn-confirm" type="button" onclick="return_back()" value="Return">
    <a href="{% url 'delete_enemy' obj_details.id %}" role="button" class="btn btn-danger">Remove</a>
    <a href="{% url 'edit_enemy' obj_details.id %}" role="button" class="btn btn-warning">Edit</a>
{% endblock %}