{% extends 'base_nav.html' %}

{% block content %}
    <h3>Campaign details</h3>
    <p>Name: {{ obj_details.name }}</p>
    <p>Info: {{ obj_details.info }}</p>
    <p>Adventures: {{ obj_details.adventures }}</p>

    <input class="btn btn-confirm" type="button" onclick="return_back()" value="Return">
    <a href="{% url 'delete_campaign' obj_details.id %}" role="button" class="btn btn-danger">Remove</a>
    <a href="{% url 'edit_campaign' obj_details.id %}" role="button" class="btn btn-warning">Edit</a>
{% endblock %}