{% extends 'base_nav.html' %}

{% block title %}Maop - detail{% endblock %}

{% block content %}
    <div class="jumbotron container-fluid">
        <h3>Map details</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Info</th>
                <th>Content</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Name</td>
                <td>{{ obj_details.name }}</td>
            </tr>
            <tr>
                <td>Author</td>
                <td>{{ obj_details.author }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ obj_details.description }}</td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            {% if user.profile.role == "Author" and can_edit %}
            <div class="col col-md-1"><a href="{% url 'delete_map' obj_details.id %}" role="button"
                                         class="btn btn-danger">Remove</a></div>
            <div class="col col-md-1"><a href="{% url 'edit_map' obj_details.id %}" role="button"
                                         class="btn btn-warning">Edit</a></div>
            {% endif %}
            <div class="col col-md-1"><input class="btn btn-confirm" type="button" onclick="return_back()"
                                             value="Return"></div>
        </div>
    </div>
{% endblock %}