{% extends 'base_nav.html' %}

{% block content %}
    <h3>Character details</h3>
    <p>Name: {{ obj_details.name }}</p>
    <p>Race: {{ obj_details.race }}</p>
    <p>Speciality: {{ obj_details.speciality }}</p>
    <p>Level: {{ obj_details.level }}</p>
    <p>Owner: {{ obj_details.owner }}</p>
    <p>Death: {{ obj_details.death }}</p>

    <input class="btn btn-confirm" type="button" onclick="return_back()" value="Return">
    <a href="{% url 'delete_character' obj_details.id %}" role="button" class="btn btn-danger">Remove</a>
    <a href="{% url 'edit_character' obj_details.id %}" role="button" class="btn btn-warning">Edit</a>
{% endblock %}