{% extends 'base_nav.html' %}

{% block title %}Player - detail{% endblock %}

{% block content %}
    <div class="jumbotron container-fluid">
    <h3>Player details</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Info</th>
                <th>Content</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>User</td>
                <td>{{ obj_details.user }}</td>
            </tr>
            <tr>
                <td>Nickname</td>
                <td>{{ obj_details.nickname }}</td>
            </tr>
            <tr>
                <td>Session_part</td>
                <td>{{ obj_details.session_part }}</td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col col-md-1"><a href="{% url 'delete_player' obj_details.id %}" role="button"
                                         class="btn btn-danger">Remove</a></div>
            <div class="col col-md-1"><a href="{% url 'edit_player' obj_details.id %}" role="button"
                                         class="btn btn-warning">Edit</a></div>
            <div class="col col-md-1"><input class="btn btn-confirm" type="button" onclick="return_back()"
                                             value="Return"></div>
        </div>
    </div>
{% endblock %}