{% extends 'base_nav.html' %}

{% block title %}Session - detail{% endblock %}

{% block content %}
    <div class="jumbotron container-fluid">
        <p>Session details</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Info</th>
                <th>Content</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Title</td>
                <td>{{ obj_details.title }}</td>
            </tr>
            <tr>
                <td>Creation_date</td>
                <td>{{ obj_details.creation_date }}</td>
            </tr>
            <tr>
                <td>Leader</td>
                <td>{{ obj_details.author }}</td>
            </tr>
            <tr>
                <td>Campaign</td>
                <td>{{ obj_details.campaign }}</td>
            </tr>
            </tbody>
        </table>

        <div class="row">
    {% if user.profile.role == "Session leader" and is_creator %}
        <div class="col col-md-1"><a href="{% url 'delete_session' obj_details.id %}" role="button"
                                     class="btn btn-danger">Remove</a></div>
        <div class="col col-md-1"><a href="{% url 'edit_session' obj_details.id %}" role="button"
                                     class="btn btn-warning">Edit</a></div>
        <div class="col col-md-1"><a href="{{ obj_details.get_participator_url }}" role="button"
                                     class="btn btn-md btn-success">Open</a></div>
        <div class="col col-md-2"><a href="{% url 'send_invitation' obj_details.id %}" role="button"
                                     class="btn btn-md btn-success">Send invitation</a></div>
    {% elif user.profile.role == "Player" %}
        {% if participator %}
            <div class="col col-md-1"><a href="{{ obj_details.get_participator_url }}" role="button"
                                         class="btn btn-success">Open</a></div>
            <div class="col col-md-1"><a href="{% url 'leave_session' obj_details.id %}" role="button"
                                         class="btn btn-danger">Leave</a></div>
        {% else %}
            <div class="col col-md-1"><a href="{% url 'take_session_part' obj_details.id  invitation.player.id %}"
                                         role="button"
                                         class="btn btn-success">Join</a></div>
        {% endif %}
    {% endif %}
            <div class="col col-md-1">
                <input class="btn btn-confirm" type="button" onclick="return_back()" value="Return">
            </div>
        </div>
    </div>

{% endblock %}